:root {
  --matte-black: rgb(6, 7, 11);
  --black: rgba(14, 17, 23,1);
  --matte-grey: rgb(88, 89, 91);
  --pastel-orange: rgb(238, 162, 56);
  --brown: rgb(48, 35, 25);
}

::-webkit-scrollbar {
  width: 0;
}

.pfp {
  height: 70%;
  border: 8px solid var(--pastel-orange);
  border-radius: 3rem;
  margin-left: auto;
  margin-right: 20%;

}

.container {
  background-color: var(--matte-black);

}

.box1 {
  height: 60vh;

}

.box2 {
  height: auto;
  background-color: var(--pastel-orange)
}



.box2column{
  display: flex;
  flex-direction: row;

}
.columnDiv1{
  
  margin-top: 5%;
  display: flex;
  justify-content: center;
  color: var(--matte-black);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
  height: auto;
  border-right: 2px solid var(--matte-grey) ;

}
.columnDiv2{
  
  margin-top: 5%;
  display: flex;
  text-align: center;
  color: var(--matte-black);
  font-size: 16px;
  font-weight: bold;
  
  height: auto;
  border-left: 2px solid var(--matte-grey) ;
}
.content1 {
  display: flex;
  position:fixed;
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.content2 {
  display: flex;
  
  flex-direction: column;
  height: auto;
  padding-bottom: 5%;
  width: 100%;

}
.content3{
  text-align: center;
  background-color: var(--pastel-orange);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Fill {
  height: 10vh;
  width: 100%;
  background-color: var(--pastel-orange)
}

.intro {
  color: var(--matte-grey);
  font-size: 1.2rem;
  font-weight: bolder;
  width: 40%;
  margin-left: 10%;

}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 5rem;
  background-color: var(--matte-black);
  height: 80px;
  width: 800px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  align-items: center;
  color: var(--matte-grey);
  padding-bottom: 20px;
}

.Nav {
  display: flex;
  background-color: var(--matte-black);
  height: 80px;
  width: 600px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  align-items: center;
  color: var(--matte-grey);
  padding: 8px;
}

.Nav div {
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
  border-radius: 5px;
}

.Nav div:hover {
  background-color: var(--pastel-orange);
  color: var(--black);
  font-size: 30px;

}

.quotation {
  opacity: 0;
  animation: fadeIn 1s  forwards;
}

.quotation2 {
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}

.hi{
  opacity: 0;
  animation: fadeIn 1s  forwards;
}
.name {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;

}

.where {
  opacity: 0;
  animation: fadeIn 2s 1.5s forwards;
}

.why {
  opacity: 0;
  animation: fadeIn 3s 2.5s forwards;
}
.AboutMe{
  font-size: 22px;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 46vw;
 text-align: center;
 
}
.skillGrid{
  margin-left: 2vw;
  margin-right: 2vw;
  width: 46vw;
  display: flex;
  flex-wrap: wrap;
  
}
.skillGrid img{
  
  border-radius: 20px;
  width: 80%;
  height: 80%;
}
.skillGrid div{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
 background-color: var(--matte-black);
  width: 15%;
  min-width: 13%;
  min-height:min-content;
  display: flex;
  flex-direction: column;
  color: var(--matte-grey);
  justify-content:center ;
  align-items: center;
  border-radius: 20px;
}
.skillGrid div:hover{
  transform: rotate(.7turn);
}
.project{
  height: 100vh;
}
@keyframes fadeIn {
  from {

    opacity: 0;

  }

  to {
    opacity: 1;

  }
}